In [ ]:
### Trusted Connection to SQL Server with pyodbc ###
# from sqlalchemy import create_engine

# server = "Localhost"
# database = "Bokhandel"
# driver = "ODBC Driver 17 for SQL Server"

# engine = create_engine(f"mssql+pyodbc://{server}/{database}?Trusted_connection=yes&driver={driver}")

# with engine.connect() as connection:
#     print(f"Successfully connected to {database} database server on {server}")

Successfully connected to Bokhandel database server on Localhost

In [10]:
from sqlalchemy import create_engine, text

# Exempel utan trusted_connection, använder istället skapat användarnamn och lösenord
engine = create_engine(
    "mssql+pyodbc://bokhandlare1:ITHS@localhost/Bokhandel?driver=ODBC+Driver+17+for+SQL+Server",
    future=True
)
# Connectar, väljer och skriver ut TOP 5 * från böcker, mest för demonstration och test
with engine.connect() as conn:
    result = conn.execute(text("SELECT TOP 5 * FROM Böcker"))
    for row in result:
        print(row)

('9780007203543', 'Fellowship of the Ring', 'Engelska', Decimal('335.00'), datetime.date(2005, 10, 17), 'Inbunden', 2)
('9780007203567', 'Return of the King', 'Engelska', Decimal('335.00'), datetime.date(2005, 10, 17), 'Inbunden', 2)
('9780008376130', 'Two Towers', 'Engelska', Decimal('335.00'), datetime.date(2005, 10, 17), 'Inbunden', 2)
('9789113093659', 'Hemsöborna', 'Svenska', Decimal('231.00'), datetime.date(2018, 10, 31), 'Häftad', 3)
('9789113139906', 'Mördare utan ansikte', 'Svenska', Decimal('162.00'), datetime.date(2024, 7, 18), 'E-bok', 1)

In [ ]:
# fritextsökning mot boktitlar och få en lista med böcker som matchar. Man ska även kunna se hur många exemplar som finns av böckerna i varje butik.
from sqlalchemy.sql import text
import pandas as pd
search_term = input("Skriv in en boktitel att söka efter: ")

# Sökning i databasen
# Använder text() för att skapa en SQL-fråga med parametrar
query = text("""
   SELECT B.Titel, B.ISBN, Butiker.Namn AS ButikNamn, L.Antal
    FROM Böcker B
    INNER JOIN LagerSaldo L ON B.ISBN = L.ISBN
    INNER JOIN Butiker ON L.ButikID = Butiker.Id
    WHERE B.Titel LIKE :search
    ORDER BY B.Titel, Butiker.Namn;
    
""")
# Använder engine.connect() för att skapa en anslutning till databasen
# Använder connection.execute() för att köra SQL-frågan med sökordet
with engine.connect() as connection:
    result = connection.execute(query, {"search": f"%{search_term}%"})
    
    df = pd.DataFrame(data=result, columns=["Titel", "ISBN", "Butiknamn", "Antal i butik"])
df

        Titel           ISBN   Butiknamn  Antal i butik
0  Two Towers  9780008376130  Bokaffären              6
1  Two Towers  9780008376130  Bokbutiken              3
2  Two Towers  9780008376130  Bokhandeln              2